@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
.heading {
  font-family: "Grand Hotel", cursive;
}
body{
  background-color: rgb(193, 255, 255);
}
.board button {
  width: 80px;
  height: 80px;
  background-color: rgb(128, 128, 128);
  border-radius: 25%;
  border: 2px solid rgb(83, 83, 83);
  margin: 2px;
}
